<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

    {%- include head.html -%}

    <body>
        <a href="#main-content" class="skip-to-content-link" id="skip-link">Skip to main content</a>
        {%- include header.html -%}

        <main class="page-content" id="main-content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>

        {%- include footer.html -%}
        <a id="goToTop" class="btn hidden" href="#skip-link">Go to top</a>
    </body>

</html>